[submodule "jasmine"]
	path = jasmine
	url = https://github.com/pivotal/jasmine.git
[submodule "lib/earlgrey"]
	path = lib/earlgrey
	url = ssh://git@bitbucket.org/prsteele/earlgrey.git
[submodule "lib/jasmine"]
	path = lib/jasmine
	url = https://github.com/pivotal/jasmine.git
