<!doctype html>

<html>
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="static/style.css" />

  </head>

  <body>
    <div class="column-wrapper">
      <div class="column">
        <div class="textarea-wrapper">
          <textarea id="source">
/** Example */

Not included.
          </textarea>
        </div>

        <button id="source-submit">Parse</button>

        Enter text above, or upload a file.
        <form enctype="multipart/form-data" method="post">
          <input type="file" name="file"></input>
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>

    <div class="column-wrapper">
      <div class="column">
        <div class="textarea-wrapper">
          <textarea id="result"></textarea>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="static/parser.js"></script>
    <script type="text/javascript" src="static/earldoc.js"></script>
    <script type="text/javascript" src="static/main.js"></script>
  </body>
</html>
