* {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.column-wrapper {
    float: left;
    width: 50%;
}

.column {
    margin: 10px;
}

.column textarea {
    width: 100%;
    resize: none;
    height: 40em;
}
